@font-face {
    font-family: 'Kohinoor';
    src: url("../webfonts/kohinoor-devanagari.ttf") format("truetype");
    src: url('../webfonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-teacher:before {
    content: "\f101";
}
.flaticon-skills:before {
    content: "\f102";
}
.flaticon-rating:before {
    content: "\f103";
}
.flaticon-online-lesson:before {
    content: "\f104";
}
.flaticon-instructor:before {
    content: "\f105";
}
.flaticon-certificate:before {
    content: "\f106";
}
.flaticon-member:before {
    content: "\f107";
}
.flaticon-chapter:before {
    content: "\f108";
}
.flaticon-watching-a-movie:before {
    content: "\f109";
}
.flaticon-learning:before {
    content: "\f10a";
}
.flaticon-abstract:before {
    content: "\f10b";
}

